.profile-container {
  text-align: center;
  cursor: pointer;
  margin-left: -40px;
}

.profile-image {
  border-radius: 50%;
  margin-top: 20px;
  height: 120px;
}

.profile-name {
  margin-top: -37px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  color: white;
}

.profile-email {
  margin-top: -20px;
  color: white;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}
