.sidebar {
  width: 32vh;
  height: 85vh;
  display: flex;
  flex-direction: column;
  background-color: #ee2528;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.profile-container {
  margin-bottom: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  transition: background-color 0.3s;
}

.sidebar-link.active {
  background-color: #fff;
  color: #ee2528;
  width: 170px;
  padding: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.sidebar-links {
  margin-left: 10px;
}

.sidebar-icon {
  margin-right: 10px;
}

.lastimg {
  margin: 20px;
  width: 140px;
  height: 100px;
}
