/* sidebar.css */

.sidebar {
  width: 170px;
  height: 88vh;
  display: flex;
  flex-direction: column;
  background-color: #ee2528;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden; /* Hide overflow content for curved edges */
}

.profile-container {
  margin-bottom: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  transition: background-color 0.3s; /* Add a smooth transition for background color */
}

.sidebar-link.active {
  background-color: #fff; /* Change the background color for active links */
  color: #ee2528; /* Change the text color for active links */
  width: 170px; /* Adjust the width for active links */
  padding: 10px; /* Adjust the padding for active links */
  border-top-left-radius: 25px; /* Apply border radius to the left side */
  border-bottom-left-radius: 25px; /* Apply border radius to the left side */
}
.sidebar-links {
  margin-left: 10px;
}

.sidebar-icon {
  margin-right: 10px;
}

.lastimg {
  margin: 30px;
  width: 140px;
  height: 100px;
}
